[epel]
name=Extra Packages for Enterprise Linux 6 - $basearch
baseurl=http://{{ epel_repository_hostname }}/epel/{{ centos_series }}/{{ centos_architecture }}
failovermethod=priority
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-6

[epel-debuginfo]
name=Extra Packages for Enterprise Linux 6 - $basearch - Debug
baseurl=http://{{ epel_repository_hostname }}/epel/{{ centos_series }}/{{ centos_architecture }}/debug
failovermethod=priority
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-6
gpgcheck=1

[epel-source]
name=Extra Packages for Enterprise Linux 6 - $basearch - Source
baseurl=http://{{ epel_repository_hostname }}/epel/{{ centos_series }}/SRPMS
failovermethod=priority
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-6
gpgcheck=1
